#root {
    margin-top: 100px;
}
#room {
    height: 450px;
    width: 100%;
    padding: 100px 50px;
}
#window {
    height: 200px;
    width: 100%;
}
#moon {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
#alarm {
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
#right-side {
    padding-top: 200px;
}
#table{
    height: 150px;
    width: 200px;
}
#floor {
    height: 100px;
    width: 100%;
}
body {
    background-color: black;
    text-align: center;
}
button {
    margin-top: 50px;
}
