#root {
    margin-top: 100px;
}
#room {
    height: 450px;
    width: 100%;
    padding: 100px 50px;
}
#window {
    height: 200px;
    width: 100%;
}
#moon {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
#alarm {
    height: 50px;
    width: 70px;
    margin-left: 50px;
    border-radius: 20%;
    padding: 12px 7px;
}
#right-side {
    padding-top: 200px;
}
#table{
    height: 150px;
    width: 200px;
    border-radius: 20%;
}
#floor {
    height: 100px;
    width: 100%;
}
body {
    background-color: black;
    text-align: center;
}
button {
    margin-top: 50px;
}
#time {
    font-weight: bold;
    background: white;
    border-radius: 25%;
    padding: 2px 0;
}
