#quote1 {
    background-image:         
        linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0)), 
        url('./slideshowPictures/Scotland2016-picture1.jpg');
}

#quote2 {
    background-image:         
        linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0)), 
        url('./slideshowPictures/England2016-picture2.jpg');
}
#quote3 {
    background-image:         
        linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0)), 
        url("./slideshowPictures/Scotland2016-picture3.jpg");
}
#quote4 {
    background-image:         
        linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0)), 
        url("./slideshowPictures/Ireland2017-picture4.jpg");
}
#quote5 {
    background-image:         
    linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0)), 
        url('./slideshowPictures/Scotland2016-lastpic.jpg');
}

.quoteblock {
    height: 600px;
    width: 800px;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;

}

.quote{
    margin-top: 120px;
    font-size: 3em;
    padding: 50px;
    font-family: 'Berkshire Swash', cursive;
    color: white;
}

h2 {
    font-style: italic;
}

header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.sampleBtn {
    margin-top: 20px;
}
.sampleBtn a {
    background-color: rgb(167, 243, 243);
    padding: 10px;
    color: black;
    text-decoration: none;
}

.sampleBtn a:hover {
    background-color: aqua;
}