li {
    line-height: 1.2em;
    margin-bottom: 10px;
}
.photo:hover {
    z-index: 2;
}
img {
    transition: ease-in-out;
}
img:hover {
    box-shadow: 0px 0px 30px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(5);
    transition: all 200ms ease-in;
    transform: scale(5);
}
body {
    background-color: #1024a7;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}
p {
    font-weight: bold;
}
.lights {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid white;
}
.light1 {
    background-color: rgb(1, 255, 1);
}
.light2 {
    background-color: rgb(255, 238, 0);
}
.light3 {
    background-color: rgb(255, 187, 0);
}
.light4 {
    background-color: rgb(255, 123, 0);
}
.light5 {
    background-color: rgb(255, 30, 0);
}